<!doctype html>
<html>
    <head>
        <title>Машина Маркова</title>
        <style>
            div {
              background-color: whitesmoke;
              width: 900px;
              border: 1px solid black;
              padding: 50px;
              margin: 20px;
            }
        </style>
    </head>
    <body>
        <div>
            <p><strong>Машина Маркова</strong> или, как он называл его сам, <strong>Нормальный Алгоритм Маркова (НАМ)</strong> - это абстрактная машина, которая может делать ровно одну операцию: менять часть строки на другую строку. Например, в строке <em>МАМА</em> можно заменить "М" на "П" и получить <em>ПАПА. </em>Эта единственная операция называется "подстановка". Подстановка описывается при помощи формулы подстановки:</p>
            <p style="padding-left: 30px;"><em>СТРОКА-ДЛЯ-ПОИСКА -&gt; СТРОКА-ДЛЯ-ЗАМЕНЫ</em></p>
            <p>Эта формула ищет в нашей строке строку <em>СТРОКА-ДЛЯ-ПОИСКА</em> и, если находит, заменяет на строку <em>СТРОКА-ДЛЯ-ЗАМЕНЫ</em></p>
            <p>Например, у нас есть строка:</p>
            <p style="padding-left: 30px;"><em>Two little Programmers</em></p>
            <p>Мы можем задать формулу (команду):</p>
            <p style="padding-left: 30px;"><em>little -&gt; big</em></p>
            <p>После того, как эта команда отработает, наша строка примет вид:&lt;/ p&gt;</p>
            <p style="padding-left: 30px;"><em>Two big Programmers</em></p>
            <p>Но нам, конечно, будет мало одной команды. Например, мы хотим, чтобы наша строка стала в конце концов стала строкой Three big Engineers. Очевидно, нам надо добавить еще две формулы подстановки:</p>
            <p style="padding-left: 30px;"><em>Two -&gt; Three</em><br /><em>Programmer -&gt; Engineer</em></p>
            <p>В итоге, мы получим следующий список формул (и давайте уже называть это программой ;-) ):</p>
            <ol>
            <li><em>little -&gt; big</em></li>
            <li><em>Two -&gt; Three</em></li>
            <li><em>Programmer -&gt; Engineer</em></li>
            </ol>
            <p>Машина Маркова просматривает Программу начиная с первой формулы, пытаясь <em>применить</em> формулу к Строке, то есть, найти, содержит ли Строка левую часть формулы и, если содержит, заменить эту часть Строки на правую часть формулы. Если Машина смогла применить к Строке формулу, то вновь начинает просматривать Программу начиная с первой формулы.</p>
            <p><strong>Это очень важно: </strong>Если формула была применена к строке, Машина вновь начинает просмотр программы сначала.</p>
            <p>Если ни одна формула программы не может быть применена к Строке, Машина останавливается, и результатом выполнения программы считается та строка, которая в итоге получилась.</p>
            <p>Для нашей программы и строки результат выполнения будет таким:</p>
            <ol>
            <li>При первом просмотре программы, машина применит первую формулу, заменив <em>little </em>на <em>big</em>, результат - строка <em>Two big Programmers</em></li>
            <li>При втором просмотре программы, машина применит вторую формулу, заменив <em>Two</em> на<em> Three</em>, результат - строка <em>Three big Programmers</em></li>
            <li>При третьем просмотре программы машина применит третью формулу, заменив <em>Programmer </em>на <em>Engeneer, </em>результат - строка <em>Three big Engineers</em></li>
            <li>При четвертом просмотре программы машина не сможет применить ни одной формулы и остановится. Конечный результат - строка <em>Three big Engineers</em></li>
            </ol>
            <p>Также, для остановки Машины можно специально указать, после применения какой формулы машина должна остановиться. Обозначим такую формулу знаком "-&gt;." Тогда, если мы поменяем нашу программу так:</p>
            <ol>
            <li>little -&gt; big</li>
            <li>Two -&gt;. Three</li>
            <li>Programmer -&gt; Engineer</li>
            </ol>
            <p>то Машина завершит работу после применения второй формулы, и результатом работы Машины будет строка</p>
            <p style="padding-left: 30px;"><em>Three big Programmers.</em></p>
            <p>И несколько уточнений:</p>
            <ol>
            <li>Даже если левая часть формулы подстановки содержится в строке несколько раз, за один проход Машина меняет только одно, первое вхождение, например, для строки <em>Two little-little Programmers </em>применение формулы <em>little -&gt; big </em>даст результат <br /><em>Two big-little Programmers</em></li>
            <li>Если правая часть формулы подстановки - пустая строка, то применение такой формулы приведет к удалению левой части формулы из строки, например, для строки <em>Robin-Bobin-Barabek </em>применение формулы <em>Bobin -&gt; </em>даст результат <em>Robin--Barabek</em></li>
            <li>Если левая часть формулы - пустая строка, то применение такой формулы по сути означает приписывание правой части формулы к строке. Например, для строки <em>Wolf</em> применение формулы <em>-&gt; Hungry</em> даст результат <em>HungryWolf</em></li>
            </ol>
            <p>Больше о Машине Маркова вы можете узнать из ссылок:</p>
            <ol>
            <li><a href="%20https://storage.cloud.google.com/markov-server/downloads/%D0%9C%D0%B0%D1%88%D0%B8%D0%BD%D0%B0%20%D0%A2%D1%8C%D1%8E%D1%80%D0%B8%D0%BD%D0%B3%D0%B0%20%D0%B8%20%D0%B0%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC%D1%8B%20%D0%9C%D0%B0%D1%80%D0%BA%D0%BE%D0%B2%D0%B0.%20%D0%A0%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D0%B5%20%D0%B7%D0%B0%D0%B4%D0%B0%D1%87.pdf">Машина Тьюринга и Алгоритм Маркова</a>, стр. 18-32</li>
            <li><a href="http://kpolyakov.spb.ru/prog/nma.htm">Нормальные алгорифмы Маркова</a>, в конце статьи есть ссылка на эмулятор Машины Маркова для Windows</li>
            </ol>
        </div>
    </body>  
</html>