<!doctype html>
<html>
<head>
    <title>Markovs Algorithms</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="//cdn.muicss.com/mui-0.10.0/css/mui.min.css" rel="stylesheet" type="text/css"/>
    <script src="//cdn.muicss.com/mui-0.10.0/js/mui.min.js"></script>
    <script src="//code.jquery.com/jquery-3.4.1.slim.min.js"></script>
</head>
<body>
<form action="/start-program" method="post" class="mui-form">
    <input type="hidden" name="message">
</form>
<h1>Markov's Algorithms</h1>
<h2>Program</h2>

{% if errors %}
<div class="mui-panel error">
    {% for message in get_error_messages() %}
    <li>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}

<div id="content">

    <div class="mui-textfield">
        <input type="text" name="init" placeholder="INITIAL WORD">
    </div>
    <div class="rows">
        <div class="row">
            <div class="mui-textfield from">
                <input type="text" placeholder="In">
            </div>
            <div class="mui-select action">
                <select>
                    <option value=">">&rarr;</option>
                    <option value="|>">&rarrb;</option>
                </select>
            </div>
            <div class="mui-textfield to">
                <input type="text" placeholder="Out">
            </div>
        </div>
    </div>

    <div style="clear:both"></div>
    <button id="plus" class="mui-btn mui-btn--raised">+</button>
    <br>
    <button id="submit" class="mui-btn mui-btn--raised">Start</button>

</div>

<script>
    $("#plus").click(e => {
        e.preventDefault()
        $(".row").first().clone().appendTo(".rows")
        $(".row").last().find("input").val("")
    })

    $("#submit").click(e => {
        e.preventDefault()
        let program = []
        $(".row").each((k, row) => {
            let A = $.trim($(row).find("input").first().val())
            let B = $.trim($(row).find("input").last().val())

            if (A == "" && B == "") {
                return
            }
            program.push({
                in: A,
                out: B,
                stop: $(row).find("select").first().val() === "|>"
            })
        })

        if (program.length === 0) {
            alert("Add at least one program instruction")
            return
        }
        $("input[name=message]").val(JSON.stringify({
            initial_word: $("input[name='init']").val(),
            program: program
        }))
        $("form").submit()
    })
</script>
</body>
</html>
